{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Услуги
{% endblock %}

{% block content %}
    <div class="zalogo"><h1>Услуги</h1></div>
    <div class="news">
        <h2>Новости</h2>
        <a href=""><img src="{% static 'img/news1.png' %}" alt="img"></a>
        <p>Выбирая медицинский центр, нужно учитывать много важных моментов. В первую очередь, убедиться, что учреждение работает легально по лицензии. Добросовестным клиникам скрывать нечего − документ размещается на сайте и предоставляется по запросу потенциального клиента. Выбрать хороший медицинский центр в Орехово-Зуево не сложно, если знать на что обращать внимание.</p>
    </div>
    <div class="ofirme">
        <h2>О фирме</h2>
        <p>В нашей стоматологической поликлинике решают любые стоматологические проблемы разной сложности:</p>
        <ul>
            <li>отсутствие одного или нескольких зубов,</li>
            <li>частичное разрушение коронковой части зуба,</li>
            <li>сильное изменение цвета эмали.</li>
        </ul>
        <p>Мы восстанавливаем былую эстетику: цвет, форму, искривление зуба относительно других. Исправляем функцию: Вы сможете как и прежде комфортно принимать пищу, для этого, если необходимо, мы делаем имплантацию, съемное/несъемное протезирование, устанавливаем виниры, коронки и вкладки. Ставим брекеты или прозрачные каппы. Лечим кариес и делаем отбеливание зубов. Мы заботимся, чтобы пребывание в нашей клинике было для Вас комфортным и безопасным!</p>
    </div>
{% endblock %}