{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Отзывы
{% endblock %}

{% block content %}
    <div class="zalogo"><h1>Отзывы</h1></div>
    <div class="otzivi">
        <h2>Отзывы</h2>
        <div class="otziv">
            <h3>Вера Эдуардовна</h3>
            <p>Искала качественную и хорошую клинику, чтобы установить стоматологические импланты и по совету коллеги пошла в клинику на Покровке. С порога встретил приятный в общении и вежливый персонал, опыт работы главного врача просто поразил (к нему я и попала на прием). Первый осмотр врач провел качественно, подробно объяснил, как и что будем делать, как стоит ухаживать за полостью рта после установки имплантов, сориентировал по цене. Уже сделали синус лифтинг, никаких претензий нет, продолжаю быть клиентом клиники и надеюсь на успешную установку имплантов.</p>
        </div>
        <div class="otziv">
            <h3>Тамара Павлова</h3>
            <p>Меня мучила восьмерка в нижней челюсти, которая все время ныла и буквально лежала перпендикулярно к соседнему зубу и давила на него. Обратилась с этой проблем в стоматологический центр на Покровке. В центр этот прихожу не первый раз, здесь очень уютно, красиво, приветливый медперсонал..... Я и чистку зубов делала, и каналы мне лечили и вот удаление проблемного зуба хирург Ашот Владимирович сделал очень хорошо, я восстановилась после него быстро, даже обезболивающие пить не пришлось. Я рекомендую обращаться в этот стоматологический центр, здесь очень хорошие специалисты</p>
        </div>
        <div class="otziv">
            <h3>Руслан Тимуров</h3>
            <p>За диагностикой или удалением зубов мудрости я обращаюсь только в Клинику на Покровке. Как по мне, здесь самые лучшие доктора, персонал и оборудование. Пару лет назад я обращалась сюда с кистой, с тех пор и стала набюлюдаться в этой клинике. Камалян Ашот Владимирович - лучший доктор, который всегда точно диагностирует мои проблемы с зумами и направляет на лечение, либо сам устраняет их, если его компетенция. В самой клинике очень красивый дизайн и приятные люди, работающие в холле. Мне нравится бывать тут даже несмотря на то, что это стоматология</p>
        </div>
    </div>
{% endblock %}